---
import Layout from '../layout/common.astro'
---
<Layout title =" Use this great tool">
	
    <p class="text-center text-gray-700">Tagline that describes the tool</p>
    <button class="block text-white bg-green-500 px-5 py-3 mx-auto mt-10 font-bold rounded-lg">Sign up now</button>
	 
    
    <p class="mt-2 text-2xl font-extrabold text-gray-900 tracking-tight"> 
		Everything you need to know about this app
	 </p>
	   <p class="mt-5 max-w-prose mx-auto text-xl text-gray-500">
		A great list of things it allows you to do
	   </p>


	<div  class="mt-12 grid gap-8  grid-cols-2 ">
	  <div class="bg-gray-50 rounded-lg px-6 pb-8">
	  <h3 class="mt-3 text-lg font-medium  text-gray-900 tracking-tight">First Benefit
	   </h3>
	   <p class="mt-5 text-gray-500">
	    You Can Save Time
	   </p>
	  </div>
	
	
	  <div class="bg-gray-50 rounded-lg px-6 pb-8">
	  <h3 class="mt-3 text-lg font-medium  text-gray-900 tracking-tight">Second Benefit
	   </h3>
	   <p class="mt-5 text-gray-500">
	    You Can Save Money
	   </p>
	  </div> 

	  <div class="bg-gray-50 rounded-lg px-6 pb-8">
	  <h3 class="mt-3 text-lg font-medium  text-gray-900 tracking-tight">3rd Benefit
	   </h3>
	   <p class="mt-5 text-gray-500">
	    You Can Avoid X
	   </p>
	  </div>

	  <div class="bg-gray-50 rounded-lg px-6 pb-8">
	  <h3 class="mt-3 text-lg font-medium  text-gray-900 tracking-tight">4th Benefit
	   </h3>
	   <p class="mt-5 text-gray-500">
	    You Can Do Y
	   </p>
	  </div>
	</div>


 </Layout>
